<ion-modal-view ng-controller="NewSubRoomCtrl as newSubRoom">
  <ion-header-bar>
    <h1 class="title">New Sub-Room</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="newSubRoom.hideNewSubRoomModal()">Cancel</button>
    </div>
 </ion-header-bar>
  <ion-content>
    <div class="list">
     
      <ion-item>
      <label class="item item-input">
        <span class="input-label">Room name</span>
        <input type="text" id="subroomName">
      </label>
      <label class="item item-input">
        <span class="input-label">Description</span>
        <input type="text" id="subroomDescription">
      </label>
      <lable class= "item">Invite people </lable>
       <ion-checkbox ng-repeat="user in newSubRoom.users" ng-click="newSubRoom.inviteUser(user._id)" class="item">
        <h2> {{user.username}}</h2>
      </ion-checkbox>

      </ion-item>
    </div>
 </ion-content>
</ion-modal-view>

